<footer>
    <div id="footer-content" class="row">
        <div id="footer-text" class="col-4">
            footer-1
        </div>
        <div id="footer-text" class="col-4">
            footer-2
        </div>
        <div id="footer-text" class="col-4">
            footer-3
        </div>
    </div>
</footer>

<script src="" async defer></script>
</body>

</html>