<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- including css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</head>

<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-light bg-light" id="navbar-settings">
        <div class="container-fluid" id="navbar-items">
            <a class="navbar-brand" href="#">
                <img src="/images/sun.png" width="30" height="30" class="d-inline-block align-top" alt="">
                MAUSAM.com
              </a>
            <form class="d-flex" action="/" method="POST">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchData" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>

        <nav class="navbar navbar-light bg-light" id="navbar-items-signup">
            <a class="signup-button" href="/signUp">Sign Up</a>
        </nav>
    </nav>
