<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <!-- CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <!-- JS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">

</head>

<body>
    <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Oh No!</h2>
            <p>The account userName or Password provided are Incorrect. Please Try Again.</p>
            <p>For any issues please contact the Developer.</p>
            <form action="/signIn">
                <button class="btn btn-outline-secondary btn-light" type="submit">Login</button>
            </form>
        </div>
    </div>
    </div>

    <script src="" async defer></script>
</body>

</html>